* {
    margin: 0px;
    padding: 0px;
}

* {
    background-color: blue;
}
.nav-bar{
    
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 30px;
    
}  

a {
    color:white;
    text-decoration: none;
    font-family: fantasy;
}
h2,h3 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
p { 
    color: yellow;
}

main{
    /* padding: 10px; */
    
}

#About_me {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-start;
    flex-wrap: wrap;
}

img {
    width: 92%auto;
    height: 150px;
    object-fit: contain;
}
    
div {
    width: 92%;
    height: 150px;
    border: 2px solid black;
}

#Course {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    
}
#Course p {
    margin: 10px;
}

#Projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

#Projects div {
    width: 90%;
    height: 150px;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
}

#Contact {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
  
}





    
    



    

